/* General styles */
$background-color: #f0f0f0;
$text-color: #333;
$result-text-color: #c76b6b;
$button-color: #d47878;
$button-hover-color: #bbbbbb;


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: $text-color;
  margin-bottom: 20px;
}
